<nav class="navbar navbar-expand navbar-light bg-primary">
    <a class="navbar-brand" href="#" style="color: white" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"  >
        
        <a class="nav-item nav-link title active" (click)="showbal()">Show Balance</a>
        <a class="nav-item nav-link title"   (click)="trnsfund()">Transfer Funds</a>
        <a class="nav-item nav-link title" (click)="payment()">Payment</a>
        <a class="nav-item nav-link title" (click)="print()">Print</a>
        
        <a class="nav-item-last nav-link title" (click)="logout()">Logout</a>
      
        <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
    
  </nav>