<app-home></app-home>
<div style="margin:20px;">
    <button type="button" class="btn btn-primary marginright">Recharge</button>
    <button type="button" class="btn btn-secondary marginright">DTH</button>
    <button type="button" class="btn btn-success marginright">Postpaid</button>
    <button type="button" class="btn btn-danger marginright">FastTag</button>
    <button type="button" class="btn btn-warning marginright">Insurance</button>
    <button type="button" class="btn btn-info marginright">Flights</button>    
</div>