<app-home></app-home>
<div style="margin:20px;">
  <form>
    <div class="form-group row margin10">
      <label for="frmDate" class="col-sm-2 col-form-label">From Date</label>
      <div class="col-sm-4">
        <input type="date" name="frmDate" [(ngModel)]="fromdate" class="form-control">
      </div>
    </div>
    <div class="form-group row margin10">
      <label for="toDate" class="col-sm-2 col-form-label">To Date</label>
      <div class="col-sm-4">
        <input type="date" name="toDate" [(ngModel)]="todate" class="form-control">
      </div>
    </div>
    <div class="form-group row margin10">
      <label for="amount" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-4">
        <button type="submit" (click)="getData()" class="btn btn-primary">Get Report</button>&nbsp;
        
      </div>
    </div>

  </form>
</div>
<div *ngIf="showdata" class="container mt-5">
  <div style="margin-bottom:10px;text-align:right;">
    <button type="submit" (click)="createPdf()" class="btn btn-primary">Download Pdf</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ToAccountNo</th>
        <th>Amount</th>
        <th>TransType</th>
        <th>TransStatus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of info">
        <!-- <td>{{data.FromAccountNo}}</td> -->
        <td>{{ data.ToAccountNo }}</td>
        <td>{{ data.Amount }}</td>
        <td>{{ data.TransType }}</td>
        <td>{{ data.TransStatus }}</td>

      </tr>
    </tbody>
  </table>
</div>