<app-home></app-home>
<div style="margin:20px;">
    <form>      
      <div class="form-group row margin10">
        <label for="frmDate" class="col-sm-2 col-form-label">From Date</label>
        <div class="col-sm-4">
            <input type="date" name="frmDate" class="form-control">
        </div>
      </div>
      <div class="form-group row margin10">
        <label for="toDate" class="col-sm-2 col-form-label">To Date</label>
        <div class="col-sm-4">
            <input type="date" name="toDate" class="form-control">
        </div>
      </div>
      <div class="form-group row margin10">
        <label for="amount" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-primary">Get Report</button>
        </div>
      </div>
  
    </form>
  </div>
  <dx-button
    text="Click me"
    (onClick)="helloWorld()">
</dx-button>
<dx-data-grid
    dataSource="assets/data/datagrid.json"
    keyExpr="EmployeeID"
    [columns]="['CompanyName', 'City', 'State', 'Phone', 'Fax']"
    [showColumnLines]="false"
    [showRowLines]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
>
</dx-data-grid>